.following {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 48px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.link {
  text-decoration: underline;
}

.sortableColumn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
