.users {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 20px;
}

.topBox {
  display: flex;
  gap: 94px;
  width: 100%;
}

.search {
  position: relative;
  width: 100%;

  &:first-child {
    width: 100%;
  }

  .input {
    padding-left: 36px;
  }
}

.select {
  & button {
    width: 254px;
    box-sizing: border-box;
    justify-content: start;
  }
}
