.paymentTable {
  table-layout: fixed;
  width: 100%;
}
.paymentTable th,
.paymentTable td {
  width: 20%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.sortableColumn {
  display: flex;
  align-items: center;
}